<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-4">CancerFlow</h1>
          <p class="lead">
            Your one stop shop for cancer research.
          </p>

          <hr class="my-4">

          <p>
            Start your search
          </p>
          
          <button type="button" class="btn btn-primary">By Gene</button>
          <button type="button" class="btn btn-primary">By Cancer Type</button>

        </div>
      </div>
    </div>
  </div>
</div>
