<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-4">CancerFlow</h1>
          <p class="lead">
            Your one stop shop for Human cancer research.
          </p>

          <hr class="my-4">

          <p>
            Start your search
          </p>

          <a routerLink="/genes" class="btn btn-primary">By Gene</a>
          <a routerLink="/cancers" class="btn btn-primary">By Cancer Type</a>

        </div>
      </div>
    </div>
  </div>
</div>
