<div class="container">
  <div class="row">
    <div *ngIf="!gene" class="lead text-center col-12">Loading Gene...</div>
    <div class="col-12" *ngIf="gene">
      <div class="card gene-card">
        <div class="card-body">
          <h1>{{gene.name}} <small><a href="http://www.ncbi.nlm.nih.gov/gene/{{gene.entrez_id}}">Entrez {{gene.entrez_id}}</a></small></h1>
          <h4 class="text-muted">{{gene.aliases}}</h4>
          <p class="lead">{{gene.description}}</p>
        </div>
      </div>

      <div class="card gene-card">
        <div class="card-body">
          <h2 class="card-title">Summary of mutations</h2>
          <h6 class="card-subtitle mb-2 text-muted">Overview of variants from multiple sources</h6>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Variant</th>
                <th scope="col">CIViC</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let variant of gene.variants">
                <td>{{variant.name}}</td>
                <td>Yes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card gene-card">
        <div class="card-body">
          <h2 class="card-title">CIViC</h2>
          <h6 class="card-subtitle mb-2 text-muted">Data pulled from CIViC</h6>
          <!-- Variants -->
          <h4>Variants</h4>
          <a href="/genes/{{gene.entrez_id}}/{{variant.id}}" *ngFor="let variant of gene.variants" class="badge" [ngClass]="getVariantClass(variant)">
            {{variant.name}}
          </a>

          <!-- Sources -->
          <h4>Sources</h4>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let source of gene.sources">
              <strong><a href="{{source.source_url}}">{{source.name}}</a></strong>
              <span class="badge badge-pill badge-warning float-right">{{source.status}}</span>
              <span *ngIf="source.open_access" class="badge badge-pill badge-success float-right">Open Access</span>
              {{source.citation}}
              {{source.open_access}}
              {{source.clinical_trials}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
