<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card gene-card">
        <div class="card-body">
          <h2 class="card-title">Recent Genes</h2>
          <p>A list of recently viewed genes.</p>
        </div>
      </div>

      <div class="card gene-card">
        <div class="card-body">
          <h2 class="card-title">Recent Tumour Types</h2>
          <p>A list of recently viewed tumour types.</p>
        </div>
      </div>
    </div>
  </div>
</div>
